@import 'bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

button,
button:active,
button:focus {
  outline: none;
}

body {
  /* overflow-x: hidden; */
  min-height: 100vh;
}

a {
  color: #e17055;
  transition: 0.25s all;
}

a:hover {
  color: #26313c;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  text-align: center;
  padding: 30px;
}

h5 {
  font-size: 15px;
  margin: 15px auto;
}

.hidden {
  display: none;
}

a.td-u {
  position: relative;
  font-weight: 600;
}

a.td-u::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -3px;
  left: 0;
  background-color: #26313c;
  transition: width 0.25s;
}

a.td-u:hover:after {
  width: 100%;
}

.btn {
  margin: auto;
  color: #fff;
  background: rgba(38, 49, 60, 1);
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 50px;
  transition: 0.25s all;
  border: 2px solid rgba(255, 255, 255, 1);
  margin: 20px auto;
}

.btn:hover {
  background: #e17055;
  color: #fff;
  border: 2px solid rgba(38, 49, 60, 1);
}

.row {
  margin: 0;
}
.row > div {
  padding: 0;
}

/* Main */
.table-wrapper,
.map-wrapper,
.list-wrapper,
.graph-wrapper {
  border: 2px solid #26313c;
}

.map-wrapper {
  position: relative;
}

.map-level {
  position: absolute;
  bottom: 40px;
  left: 10px;
  width: 200px;
  height: 15px;
  background: linear-gradient(
    90deg,
    rgba(53, 152, 219, 1) 0%,
    rgba(192, 57, 43, 1) 100%
  );
  z-index: 999;
}

.map-level span {
  position: absolute;
  bottom: 15px;
  font-weight: 600;
}

.map-level .min {
  left: 0;
}

.map-level .max {
  right: 0;
}

.list-wrapper {
  height: auto;
  width: 100%;
  background: #26313c;
  color: #fff;
}

.switch-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.switch-day,
.switch-people {
  position: relative;
  width: 100px;
  height: 30px;
  border-radius: 25px;
}

.switch-people,
.switch-day {
  background: #e17055;
  font-weight: bold;
  font-size: 13px;
  line-height: 1;
  color: white;
  z-index: 1;
  text-transform: uppercase;
  top: 10px;
  cursor: pointer;
}
.switch-people {
  left: 10px;
}

.switch-day {
  right: 10px;
}
.switch-people.none,
.switch-day.none {
  background: #6c5ce7;
}

.switch-people::after,
.switch-day::after {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  border: 1px solid #f6f5fa;
  box-sizing: border-box;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.38);
  transition: all 0.2s ease;
  z-index: 1;
}

.switch-people:not(.none)::after,
.switch-day:not(.none)::after {
  left: 0;
}

.switch-people.none::after,
.switch-day.none::after {
  left: calc(100% - 30px);
}

.switch-people > div,
.switch-day > div {
  width: 100%;
  height: 100%;
  padding: 8px 0;
  line-height: 1;
  text-align: center;
}

.switch-people:not(.none) .switch-billion,
.switch-day:not(.none) .all-day {
  padding-left: 25px;
}

.switch-people.none .switch-thousand,
.switch-day.none .today {
  padding-right: 15px;
}

.switch-people:not(.none) .switch-thousand,
.switch-day:not(.none) .today {
  display: none;
}

.switch-people.none .switch-billion,
.switch-day.none .all-day {
  display: none;
}

.list-items {
  overflow: auto;
  height: 283px;
  min-width: 170px;
  margin-top: 20px;
  border-top: 2px solid #26313c;
  border-bottom: 2px solid #26313c;
}

.list-buttons {
  display: flex;
  justify-content: center;
  margin: 12px auto;
}

.list-buttons__element {
  font-size: 13px;
  margin: 5px auto;
}

.list-buttons__element.active {
  background: #e17055;
  border: #e17055;
  color: #fff !important;
}

.list__element {
  width: 100%;
  height: auto;
  display: flex;
  margin: 5px 0;
  padding: 5px 0;
  border-bottom: 1px solid #26313c;
  cursor: pointer;
  transition: 0.25s all;
}

.list__element:hover {
  background: #e17055;
}

.list__element > div {
  width: 33.3%;
  flex: 0 0 33.3%;
  text-align: center;
}

.list__element--img {
  width: 30px;
  height: 30px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
}

/* Table */
.table-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #26313c;
  color: #fff;
}

.table-section {
  flex: 0 0 33.3%;
  height: 75px;
  text-align: center;
  max-width: 33.3%;
}
.graph-wrapper h4 {
  text-align: center;
  margin: 15px auto;
}

.graph-wrapper canvas {
  margin-bottom: 21px;
}

/* Footer */
footer {
  text-align: center;
  padding: 30px 0;
}

footer .row {
  align-items: center;
  justify-content: center;
}

footer .year {
  font-weight: 600;
}

footer img {
  width: 100%;
  max-width: 100px;
  transition: transform 0.25s;
}

footer img:hover {
  transform: scale(1.15);
}

@media (max-width: 1199px) {
  h1 {
    padding: 15px;
    font-size: 30px;
  }
  .btn {
    padding: 5px 10px;
  }
  .graph-wrapper {
    height: 247px;
  }
}

@media (max-width: 992px) {
  .graph-wrapper {
    height: auto;
  }

  .switch-people {
    left: 50px;
  }
  .switch-day {
    right: 50px;
  }
}

@media (max-width: 576px) {
  #map {
    height: 300px !important;
  }
  .switch-people {
    left: 25px;
  }
  .switch-day {
    right: 25px;
  }
}

@media (max-width: 400px) {
  #map {
    height: 250px !important;
  }
  .switch-people {
    left: 10px;
  }
  .switch-day {
    right: 10px;
  }
}
